@charset "utf-8";

#advice {
    font-size: 20px;
    margin: 20px auto 20px;
}

.how_to_read {
    width: 150px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

#grade, #on_yomi, #kun_yomi {
    font-size: 140%;
}

#grade {
    margin: 20px auto;
}

.quiz_clone {
    font-size: 130%;
    padding-bottom: 40px;
}


.devise_links a {
    color: lightblue;
}

.devise_links a:hover {
    color: white;
}

.field {
    text-align: center;
    margin: auto;
}


#delete_collections {
    width: 200px;
}

.not_yet {
    margin-top: 30px;
    width: 300px;
    border-radius: 150px;
}

#welcome {
    width: 400px;
    border-radius: 50px;
}

#answerButton {
    width: 200px;
    height: 80px;
    background-color: firebrick;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

#answerButton:hover {
    background-color: rgb(216, 70, 70);
}

.link {
    text-align: center;
    padding: 0%;
}

#login {
    display: flex;
    margin: 0 40px 0 5px;
}

#login .btn {
    text-align: right;
    margin: 0 0 0 5px;
    min-width: 100px;
}

#contents_link {
    position: relative;
    margin: 0px auto 500px;
    width: 300px;
    height: 100px;
    text-align: center;
}


#contents_link a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius:5px;
    cursor: pointer;
    cursor: hand;
}



#login_checker {
    visibility: hidden;
}
#answerButton {
    cursor: pointer;
    cursor: hand;
}


#pass_message {
    position: fixed;
    inset: 0;
    margin: auto;
    top: -550px;
    width: 80%;
    height: 10%;
    font-size: 60px;
    font-family: "Hiragino Sans","ヒラギノ角ゴシック";
    font-weight: 900;
    color: black;
    z-index: 10000;
    visibility: hidden;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}
.popup.is-show {
    opacity: 1;
    visibility: visible;
  }
.popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: white;
    z-index: 3;
}
#image_file {
    width: 100%;
}
.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.close-btn i {
    font-size: 20px;
    color: #333;
}
.black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
}



//後で消す
.dummy_data {
    font-size: 1px;
    display: none;
}




#js-btn ,#great_button, #registerButton, #congratulations {
    visibility: hidden;
}

#registerButton {
    margin: auto;
    width: 300px;
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

}





#result {
    visibility: hidden;
}




html {
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    position: relative;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}


header {
    background-color:black;
    padding: 20px;
    color: white;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}


footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    min-width: 180px;
    height: 50px;
    display: flex;
    cursor: pointer;
    cursor: hand;
}



.nav {
    list-style: none;
    display: flex;
    margin: 0;
}


.nav li {
    text-align: center;
    margin-right: 4px;
    height: 50px;
    width: 100px;
    line-height: 50px;
    padding: 0%;
}


.nav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    cursor: pointer;
    cursor: hand;
}


ul {
    list-style: none;
    padding: 0;
}

.nav li div {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition:max-height 0.3s linear;
    -moz-transition:max-height 0.3s linear;
    transition:max-height 0.3s linear;
}


.js-btn {
    visibility: hidden;
}




.btn {
    position: relative;
    margin: 0 20px 0 0;
    text-align: center;
    height: 50px;
    width: 150px;
}


.btn a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgb(141, 141, 141);
    border-radius:5px;
    cursor: pointer;
    cursor: hand;
}

.btn a:hover {
    background-color: white;
    color: black;
    border-radius:5px;
}


#manga_box {
    width: 100%;
    text-align: center;
}

#manga_box img {
    width: 60%;
}


.back {
    width: 90%;
    background-color: rgba(0,0,0,0.8);
    margin: auto;
    padding: 90px 0 700px;
    text-align: center;
}


#title {
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    margin: 10px auto 20px;
    padding: 20px 0 20px;
}


h1 { 
    padding: 0 0 20px;
    font-size: 150%;
}


#movie {
    text-align: center;
    margin: 20px auto;
}

#movie video {
    height: 360px;
    width: 640px;
}




.contents {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}


.contents p {
    margin: auto;
    width: 90%;
}

#table_box {
    margin: auto;
    width: 60%;
    list-style: none;
    padding-bottom: 110px;
}

.table li {
    
    text-align: center;
    color: white;
}

.table li a {
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: block;
}

#japanese_table li a:hover {
    background-color:firebrick;
    font-weight: bold;
}

#math_table li a:hover {
    background-color:teal;
    font-weight: bold;
}

#social_table li a:hover {
    background-color:goldenrod;
    font-weight: bold;
}

#science_table li a:hover {
    background-color:forestgreen;
    font-weight: bold;
}

#english_table li a:hover {
    background-color:#948bdb;
    font-weight: bold;
}




#subjects {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}



#subjects li {
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 4px auto;
    width: 25%;
    min-width: 160px;
}


#subjects li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


#subjects p {
    text-align: center;
}



#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 4px;
    bottom: 4px;
    background: white;
    opacity: 0.4;
    border-radius: 25px;
    z-index: 1;
}


#page_top:hover {
    background-color: gray;
    opacity: 0.9;
}

#page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    z-index: 1;
}

#page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: black;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

iframe {
    display: block;
    margin: 20px auto;
}


#question {
    text-align: center;
}


.notyet {
    width: 90%;
}



.japanese:hover #japanese_menu {
    max-height: 150px;
}


.japanese, .japanese_top, .japanese_school, .japanese_kanji {
    background-color:firebrick;
    border-radius:5px;
    cursor: pointer;
    cursor: hand;
}


.japanese a:hover, .japanese_top a:hover, .japanese_school a:hover, .japanese_kanji:hover {
    background-color:rgb(216, 70, 70);
    border-radius:5px;
}


.math:hover #math_menu {
    max-height: 150px;
}


.math, .math_top, .math_school {
    background-color: teal;
    border-radius:5px;
    cursor: pointer;
    cursor: hand;
}


.math a:hover, .math_top a:hover, .math_school a:hover {
    background-color: rgb(30, 170, 170);
    border-radius:5px;
}



.social:hover #social_menu {
    max-height: 150px;
}


.social, .social_top, .social_school {
    background-color:goldenrod;
    border-radius:5px;
    cursor: pointer;
    cursor: hand;
}


.social a:hover, .social_top a:hover, .social_school a:hover {
    background-color:rgb(255, 205, 80);
    border-radius:5px;
}




.science:hover #science_menu {
    max-height: 150px;
}


.science, .science_top, .science_school {
    background-color: forestgreen;
    border-radius:5px;
    cursor: pointer;
    cursor: hand;
}


.science a:hover, .science_top a:hover, .science_school a:hover {
    background-color: rgb(70, 179, 70);
    border-radius:5px;
}





.english:hover #english_menu {
    max-height: 150px;
}

.english, .english_top, .english_school {
    background-color: #948bdb;
    border-radius:5px;
    cursor: pointer;
    cursor: hand;
}

.english a:hover, .english_top a:hover, .english_school a:hover {
    background-color: #aea9d7;
    border-radius:5px;
}



.btn:hover {
    max-height: 150px;
    background-color:lightgray;
    border-radius:5px;
}


.btn {
    background-color:gray;
    cursor: pointer;
    cursor: hand;
    width: 100px;
    margin: auto;
    border-radius:5px;
}





#index {
    background-image: url(/assets/index.PNG);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}




.kanjis, .cards {
    border: 0;
    overflow: hidden;
    margin: 3px;
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 130%;
    border-radius:25px;
    cursor: pointer;
    cursor: hand;
    background-color: white;
}

.kanjis:hover, .cards:hover {
    background-color: white;
}


#hidden_block {
    width: auto;
    height: 95px;
}

#kanji_box {
    padding: 0;
    margin: 0 auto 20px;
    width: 200px;
    height: 200px;
}

#kanji {
    display: block;
    font-family: "Sawarabi Mincho";
    font-size: 135.5px;
    background-color: white;
    color: black;
    border-radius: 100px
}











@media screen and (max-width:950px) {

    header {
        height: 4%;
    }

    #logo img{
        min-width: 110px;
        height: 30px;
    }

    .nav {
        position: fixed;
        right: -70%;
        width: 50%;
        height: 100vh;
        margin-left: auto;
        margin-top: 40px;
        /* メニューを縦に */
        display: flex;
        flex-direction: column;
        color: #efefef;
        transition: .3s;
      }

    .nav li {
        width: 100%;
        height: 8%;
        justify-content: center;
        align-items: center;
    }


    .nav li div {
        display: none;
    }

    .japanese_kanji {
        border-bottom:solid thin rgb(216, 70, 70);
    }

    #login {
        display: flex;
        margin: 0 40px 0 20px;
    }
    
    #login .btn {
        text-align: right;
        margin: 0 0 0 5px;
        height: 6%;
        width: 13%;
        margin: 1% 12% auto;
    }


    #login_btn {
        position: fixed;
        top: 5px;
        right: 0px;
    }

    #collection_btn {
        position: fixed;
        top: 5px;
        right: 18%;
    }


    #js-btn {
        visibility: visible;
        /* ボタンの配置位置  */
        position: fixed;
        top: 7.5px;
        right: 7.5px;
        /* ボタンの大きさ  */
        width: 45px;
        height: 45px;
        /* 最前面に */
        z-index: 10;
        background-color: gray; /* わかりやすいように */
        opacity: 0.6;
        border-radius: 22.5px;
        border-style: none;
        visibility: visible;
      }

    .btn-line {
        display: block;
        position: relative;  /* バーガー線の位置基準として設定 */
        width: 90%;  /* 線の長さと高さ */
        height: 5px;
        background-color: black;  /* バーガー線の色 */
        border-radius: 2.5px;
        transition: .2s;
        margin: auto;
    }

        /****** 上下のバーガー線 *****/
    .btn-line::before,
    .btn-line::after {
        content: "";
        position: absolute;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 2.5px;
        transition: .5s;
    }

    .btn-line::before {
    /* 上の線の位置 */
        transform: translateY(-10px);
    }

    .btn-line::after {
    /* 下の線の位置 */
        transform: translateY(10px);
    }

    .nav.open {
        right: 0;
    }

    .nav.close {
        right: -70%;
        transition: .3s;
    }

    /***** メニューオープン時 *****/
    .btn-line.open {
        background-color: transparent;  	/* 真ん中の線を透明に */
    }

    .btn-line.open::before ,
    .btn-line.open::after {
        content: "";
        background-color: #333;  /* 上下の線の色を変える */
        transition: .2s;
    }

    .btn-line.open::before {
        transform: rotate(45deg);  /* 上の線を傾ける */
    }

    .btn-line.open::after {
        transform: rotate(-45deg);  /* 下の線を傾ける */
    }

}










@media screen and (max-width:600px) {
    body {
        font-size: 3.5vw;
    }

    #welcome {
        width: 80%;
        border-radius: 5%;
    }


    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 6vw;
    }

    header {
        height: 4%;
    }

    #title {
        font-size: 8vw;
        line-height: 40px;
        margin: 0 auto 20px;
        padding: 0;
    }

    #logo img {
        height: 30px;
        min-width: 110px;
    }

    #page_top{
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
    }

    #page_top a {
        width: 45px;
        height: 45px;
    }


    .nav {
        position: fixed;
        right: -70%;
        width: 50%;
        height: 100vh;
        margin-left: auto;
        margin-top: 40px;
        /* メニューを縦に */
        display: flex;
        flex-direction: column;
        color: #efefef;
        transition: .3s;
      }

    .nav li {
        width: 100%;
        height: 8%;
        justify-content: center;
        align-items: center;
    }


    .nav li div {
        display: none;
    }


    .japanese_kanji {
        border-bottom:solid thin rgb(216, 70, 70);
    }

    #login {
        display: flex;
        margin: 0 40px 0 20px;
        min-width: 270px;
    }
    
    #login .btn {
        text-align: right;
        margin: 0 0 0 5px;
        height: 6%;
        width: 20%;
        margin: 2% 17% auto;
        min-width: 70px;
    }


    #login_btn {
        position: fixed;
        top: 5px;
        right: 0px;
        
    }

    #collection_btn {
        position: fixed;
        top: 5px;
        right: 21%;
    }

    .back {
        width: 90%;
        background-color: rgba(0,0,0,0.8);
        margin: auto;
        padding: 90px 0 500px;
    }


    #table_box {
        width: 80%;
    }


    #manga_box img {
        width: 90%;
    }

    #pass_message {
        top: -500px;
    }

    #js-btn {
        visibility: visible;
        /* ボタンの配置位置  */
        position: fixed;
        top: 7.5px;
        right: 7.5px;
        /* ボタンの大きさ  */
        width: 45px;
        height: 45px;
        /* 最前面に */
        z-index: 10;
        background-color: gray; /* わかりやすいように */
        opacity: 0.6;
        border-radius: 22.5px;
        border-style: none;
        visibility: visible;
      }

    .btn-line {
        display: block;
        position: relative;  /* バーガー線の位置基準として設定 */
        width: 90%;  /* 線の長さと高さ */
        height: 5px;
        background-color: black;  /* バーガー線の色 */
        border-radius: 2.5px;
        transition: .2s;
        margin: auto;
    }

        /****** 上下のバーガー線 *****/
    .btn-line::before,
    .btn-line::after {
        content: "";
        position: absolute;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 2.5px;
        transition: .5s;
    }

    .btn-line::before {
    /* 上の線の位置 */
        transform: translateY(-10px);
    }

    .btn-line::after {
    /* 下の線の位置 */
        transform: translateY(10px);
    }

    .nav.open {
        right: 0;
    }

    .nav.close {
        right: -70%;
        transition: .3s;
    }

    /***** メニューオープン時 *****/
    .btn-line.open {
        background-color: transparent;  	/* 真ん中の線を透明に */
    }

    .btn-line.open::before ,
    .btn-line.open::after {
        content: "";
        background-color: #333;  /* 上下の線の色を変える */
        transition: .2s;
    }

    .btn-line.open::before {
        transform: rotate(45deg);  /* 上の線を傾ける */
    }

    .btn-line.open::after {
        transform: rotate(-45deg);  /* 下の線を傾ける */
    }

}